@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
	font-family: sans-serif;
	font-weight: lighter;
	opacity: 0.8;
	color: white;
	background-image: url(IMG_202205261015420.JPEG);
	background-size: cover;
}


header {
	padding: 10px 0 40px 0;
	font-size: 50px;
	letter-spacing: 5px;
}

ul.list {
	padding: 10px 0;
	font-size: 30px;
}

.text {
	margin: 0 auto;
	width: 200px;
}

p.basketball {
	padding: 10px 20px;
	font-size: 30px;
}

.basketball_img {
	position: absolute;
	right: 30px;
	bottom: 0;
	z-index: -10;
	width: 500px
}

.button {
	height: 50px;
	weight: 50px;
}

article {
	margin-left: 100px;
}

.instagram {
	opacity: 0.8;
}

.instagram:hover {
	opacity: 1;
}

.github:hover {
	color: red;
}
